<div class="form-group">
    <label>Комплектующие</label>
    <ViewInventoriesComponent 
        DisplaySearchResult="true"
        OnSelectInventory="OnSelectInventory">
    </ViewInventoriesComponent>
</div>
@if (prodInvs != null
       && prodInvs.Count > 0)
{
    <ul style="list-style-type:none">
        @foreach (var prodInvs in this.prodInvs)
        {
            <li>
                @prodInvs.Inventory.InventoryName &nbsp;
                <input type="number" 
                        min="0" 
                        @bind-value="prodInvs.InventoryQuantity"
                        @bind-value:event="oninput"
                        @onchange="OnInventoryQtYChange"
                        placeholder="Значение"/>
                <button class="btn btn-link"
                type="button"
                @onclick="() => RemoveInv(prodInvs)">
                    Убрать
                </button>
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public EventCallback<List<ProductInventory>> OnSelectedInventory { get; set; }

    public List<ProductInventory> prodInvs = new List<ProductInventory>();

    private async Task OnInventoryQtYChange()
    {
        await OnSelectedInventory.InvokeAsync(this.prodInvs);
    }

    private async Task OnSelectInventory(Inventory inventory)
    {
        if (!prodInvs.Any(x => x.Inventory.InventoryName.Equals(inventory.InventoryName, StringComparison.OrdinalIgnoreCase)))
        {
            this.prodInvs.Add(new ProductInventory { InventoryId = inventory.InventoryId, 
                                                     Inventory = inventory
            });
        }

        await OnSelectedInventory.InvokeAsync(this.prodInvs);
    }

    private void RemoveInv(ProductInventory prodInvs)
    {
        this.prodInvs.Remove(prodInvs);
    }
}
