@using IMS.CoreBusiness
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
@inject NavigationManager NavigationManager

<div class="input-group">
    <input type="text" 
        class="form-control"
        placeholder="Введите наименование"
        @bind-value="productNameToSearch"
        @onkeyup="Enter"/>

    <div class="btn-group">
        <button type="button"
                class="btn btn-success"
                @onclick="@(async()=> {await ViewProducts();})">
            Найти &#8203;
            <i class="fa fa-search"></i>
        </button>

        <button type="button"
                class="btn btn-primary"
                @onclick="RedirectToAddPage">
            Добавить &#8203;
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
    
@code {
    private string? productNameToSearch;

    [Parameter]
    public EventCallback<List<Product>> OnSearchProducts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ViewProducts();
    }

    private async Task ViewProducts()
    {
        var products = (await ViewProductsByNameUseCase
                .ExecuteAsync(productNameToSearch??string.Empty)).ToList();

        await OnSearchProducts.InvokeAsync(products);
    }

    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            ViewProducts();
        }
    }

    public void RedirectToAddPage()
    {
        NavigationManager.NavigateTo("/addnewproduct");
    }
}
