@using IMS.CoreBusiness
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<div class="input-group mb-3">
    <input type="text" 
        class="form-control form-control-lg"
        placeholder="Введите наименование"
        @bind-value="inventoryNameToSearch"
        @onkeyup="Enter"/>

    <button type="button" 
        class="input-group-text btn-success"
        @onclick="@(async()=> {await ViewInventories();})">Найти</button>
</div>


@code {
    private string? inventoryNameToSearch;

    [Parameter]
    public EventCallback<List<Inventory>> OnSearchInventories { get; set; }

    private async Task ViewInventories()
    {
        var inventories = (await ViewInventoriesByNameUseCase
                .ExecuteAsync(inventoryNameToSearch??string.Empty)).ToList();

        await OnSearchInventories.InvokeAsync(inventories);
    }


    public void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            ViewInventories();
        }
    }
}
