@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Это действие отключит двухфакторную аунтентификацию (2FA)</strong>
    </p>
    <p>
        Отключение 2FA не изменит ключи аутентификации внутри приложений-аутентификаторов. Если вы хотите
        изменить или удалить ключи используемые внутри этих приложений, <a asp-page="./ResetAuthenticator">то перейдите по ссылке для сброса. </a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Отключить 2FA</button>
    </form>
</div>
