@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Сохраните эти коды в безопасном месте!</strong>
    </p>
    <p>
        При потере вашего аутентификационного девайса эти коды помогут вам восстановить доступ к вашему аккаунту.
    </p>
    <p>
        Создание новых кодов восстановления не изменит ключи внутри аутентификационных приложений.
        Если вы хотите изменить эти ключи, то вам следует <a asp-page="./ResetAuthenticator">сбросить ключи аутентификации.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Сгенерировать коды доступа</button>
    </form>
</div>
