@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>После сброса вашего ключа аутентификатора функция 2FA не будет работать до тех пор пока вы не пересоздадите его.</strong>
    </p>
    <p>
        Этот процесс отключает 2FA, пока вы не подтвердите свое приложение для аутентификации.
        Если вы не завершите настройку приложения для аутентификации, вы можете потерять доступ к своей учетной записи.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Сбросить ключ аутентификации</button>
    </form>
</div>
