@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>У вас более не осталось активных кодов восстановления.</strong>
                    <p>Вам следует <a asp-page="./GenerateRecoveryCodes">сгенерировать новый набор кодов</a> прежде чем вы сможете воспользоваться входом.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>У вас остался лишь один код восстановления.</strong>
                    <p>Вам следует <a asp-page="./GenerateRecoveryCodes">сгенерировать новый набор кодов</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>У вас осталось @Model.RecoveryCodesLeft кодов(а) восстановления.</strong>
                    <p>Вам следует <a asp-page="./GenerateRecoveryCodes">сгенерировать новый набор кодов</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Забыть этот браузер</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Отключить 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Сбросить коды восстановления</a>
        }

        <h4>Authenticator app</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Добавьте приложене аутентификатор</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Настройте приложене аутентификатор</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Сбросьте приложене аутентификатор</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Политика и файлы cookie не были подтверждены!</strong>
            <p>Вы должны согласиться с политикой конфеденциальности и принять файлы cookie для дальнейшей работы!</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
