<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">
            <RadzenGravatar Email="@context.User.Identity?.Name"></RadzenGravatar>
        </a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Выход</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Регистрация</a>
        <a href="Identity/Account/Login">Вход</a>
    </NotAuthorized>
</AuthorizeView>
