@page "/editinventory/{invId:int}"

@attribute [Authorize]

@inject IViewInventoriesByIdUseCase ViewInventoriesByIdUseCase
@inject IEditInventoryUseCase EditInventoryUseCase
@inject NavigationManager NavigationManager

<h3>Редактирование</h3>

@if(this.inventory != null)
{
    <EditForm Model="inventory" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
            <ValidationSummary></ValidationSummary>

            <div class="form-group">
                <label for="name">Наименование</label>
                <InputText id="name" @bind-Value="inventory.InventoryName" class="form-control"></InputText>
            </div>

            <div class="form-group">
                <label for="quantity">Количество</label>
                <InputNumber id="quantity" @bind-Value="inventory.Quantity" class="form-control"></InputNumber>
            </div>

            <div class="form-group">
                <label for="price">Цена</label>
                <InputNumber id="price" @bind-Value="inventory.Price" class="form-control"></InputNumber>
            </div>

            <div class="form-group">
            <BlazorBarcodeScanner.ZXing.JS.BarcodeReader Title="Отсканируйте штрихкод с товара"
                                                         @ref="_reader"
                                                         StartCameraAutomatically="true"
                                                         ShowStart="false"
                                                         ShowReset="false"
                                                         ShowToggleTorch="false"
                                                         ShowVideoDeviceList="false"
                                                         VideoWidth="640"
                                                         VideoHeight="480"
                                                         ShowResult="false"
                                                         OnBarcodeReceived="LocalReceivedBarcodeText" />
            <div class="alert alert-success">
                Отсканированый результат: <i>@(!string.IsNullOrWhiteSpace(LocalBarcodeText) ? @LocalBarcodeText : "...Штрихкод не отсканирован...")</i>
                <br />Не забудьте обязательно сверить полученные данные с реальным штрихкодом на товаре!
            </div>

                <label for="barcode">Штрихкод</label>
                <InputText id="barcode" @bind-Value="inventory.Barcode" class="form-control"></InputText>
            </div>
            <br />
            <button 
                type="submit" 
                class="btn btn-primary">
                    <i class="fa fa-save"></i>
                &#8203; Сохранить
            </button>
            <button 
                type="button" 
                class="btn btn-danger" 
                @onclick="Back">
                    <i class="fa fa-close"></i>
                Отмена
            </button>
    </EditForm>
}

@code {
    [Parameter]
    public int invId { get; set; }

    [Parameter]
    public string? LocalBarcodeText { get; set; }

    private BarcodeReader _reader;

    private Inventory? inventory;

    private async Task LocalReceivedBarcodeText(BarcodeReceivedEventArgs args)
    {
        await InvokeAsync(() =>
        {
            this.LocalBarcodeText = args.BarcodeText;
            inventory.Barcode = args.BarcodeText;
            StateHasChanged();
        });
    }

    protected override async Task OnInitializedAsync()
    {
        this.inventory = await ViewInventoriesByIdUseCase.ExecuteAsync(invId);
    }

    public async Task OnValidSubmit()
    {
        if(this.inventory != null)
        {
            await EditInventoryUseCase.ExecuteAsync(this.inventory);
            NavigationManager.NavigateTo("/inventories");
        }
        
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/inventories");
    }
}
