@page "/inventories"

<h3>Хранилище склада</h3>
<br />

<RadzenDataGridRU 
    Data="@listInventories" 
    TItem="Inventory" 
    AllowFiltering="true" 
    AllowSorting="true" 
    AllowPaging="true" 
    PageSize="5"
    ShowPagingSummary="true"
    >
    <Columns>
        <RadzenDataGridColumn TItem="Inventory" Property="InventoryName" Title="Наименование">
            <Template Context="inventoryRadzen">@inventoryRadzen.InventoryName</Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Inventory" Property="Quantity" Title="Количество"/>
        <RadzenDataGridColumn TItem="Inventory" Property="Price" Title="Цена" />
    </Columns>
</RadzenDataGridRU>

<br />

<ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>
    
<br />
@if(listInventories != null)
{
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Количество</th>
            <th>Стоимость</th>
            <th>Функции</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var inv in this.listInventories)
        {
            <ItemInventoryComponent inv="inv"></ItemInventoryComponent>
        }
    </tbody>
</table>
    }
@code {
    private Inventory[]? inventoryRadzen;
    private List<Inventory>? listInventories;
    private void OnSearchInventories(List<Inventory> inventory)
    {
        listInventories = inventory;
    }
}
