@page "/inventories"

<h3>Хранилище склада</h3>
<br />

<ViewInventoriesComponent OnSearchInventories="OnSearchInventories"></ViewInventoriesComponent>
<RadzenDataGridRU 
    Data="@listInventories" 
    TItem="Inventory" 
    AllowFiltering="true" 
    AllowSorting="true" 
    AllowPaging="true" 
    PageSize="5"
    ShowPagingSummary="true"
    >
    <Columns>
        <RadzenDataGridColumn TItem="Inventory" Property="InventoryName" Title="Наименование">
            <Template Context="inventoryRadzen">@inventoryRadzen.InventoryName</Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Inventory" Property="Quantity" Title="Количество"/>
        <RadzenDataGridColumn TItem="Inventory" Property="Price" Title="Цена">
            <Template Context="inventoryRadzen">
                @String.Format(new System.Globalization.CultureInfo("ru-RU"), "{0:C}", inventoryRadzen.Price)
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGridRU>


<h1>Нужно разобраться с ItemInventoryComponent, рефакторинг всех остальных таблиц!
    Добавить кнопки удаления, редактирования и информации
</h1>
<br />
@code {
    private List<Inventory>? listInventories;
    private void OnSearchInventories(List<Inventory> inventory)
    {
        listInventories = inventory;
    }
}
