@page "/"

<PageTitle>Главная</PageTitle>

<h2 class="text-center">Курсовая работа Коротких Владимира ИСР21-1</h2>
<h3>Техническая записка: <a href="../stuff/static/kursa4norm.docm" download><i class="fa fa-file"></i></a></h3>
<ul class="list-group-numbered">
    <li>
        Blazor Server (.NET 6)
    </li>
    <li>
        Radzen framework
    </li>
    <li>
        Entity Framework 6
    </li>
    <li>
        Clean architecture
    </li>
</ul>
@code {
    private static System.Timers.Timer aTimer;
    private double counter = 360;

    public void StartTimer()
    {
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;
        }
        else
        {
            aTimer.Enabled = false;
        }
        InvokeAsync(StateHasChanged);
    }
}
