@page "/"

<PageTitle>Главная</PageTitle>
<h2 class="text-center">Курсовая работа студента группы ИСР21-1 <br />Коротких Владимира  <RadzenGravatar Email="korotkih.vladimir.isr21.1@gmail.com" /> </h2>
<h4 class="text-center">Для входа в систему нажмите кнопку "ВХОД"</h4>
<h3>Техническая записка: <a href="./Stuff/Static/kursa4norm.docm" download><i class="fa fa-file"></i></a></h3>
<br />

<div class="container">
    <div class="row align-items-start">
        <div class="col-md">
            <h4>Что крутого я тут сделаль и что использовал: </h4>
            <ul class="list-group-numbered">
                <li>
                    Blazor Server (.NET 6)
                </li>
                <li>
                    Radzen Framework <a href="https://blazor.radzen.com" target="_blank"><i class="fa fa-file-code-o"></i></a>
                </li>
                <li>
                    Entity Framework 6
                </li>
                <li>
                    Clean architecture
                </li>
                <li>
                    Docker Containers
                </li>
                <li>
                    DockerHub  <a href="https://hub.docker.com/u/vladimirk2003" target="_blank"><i class="fa fa-file-archive-o"></i></a>
                </li>
                <li>
                    Github <a href="https://github.com/GOLEMWORKS/IMS.Full" target="_blank"><i class="fa fa-github"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-md">
            <img src="./Stuff/Static/1x1.png" style="width: 200px;"/>
            <br />
            <img src="./Stuff/Static/76943777.png" style="width: 200px;" />
        </div>
    </div>
</div>

@code {
    private static System.Timers.Timer aTimer;
    private double counter = 360;

    public void StartTimer()
    {
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += CountDownTimer;
        aTimer.Enabled = true;
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;
        }
        else
        {
            aTimer.Enabled = false;
        }
        InvokeAsync(StateHasChanged);
    }
}
