@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Подключите свой @Model.ProviderDisplayName аккаунт.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Вы успешно вошли при помощи аккаунта <strong>@Model.ProviderDisplayName</strong>.
    Пожалуйста введите вашу электронную почту для этого сайта в поле ниже и нажмите кнопку Зарегестрироваться для
    завершения регистрации!
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Зарегестрироваться</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
