@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Проверьте ваш почтовый ящик (В том числе папку "Спам") для сброса пароля.
</p>
