@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль был сброшенt. Нажмите <a asp-page="./Login">вот тут </a>для входа.
</p>
